<!-- Aulas da seção 4 -->
<!-- <app-data-binding></app-data-binding> -->

<!-- Aulas da seção 5 -->
<!-- <app-diretivas-estruturais></app-diretivas-estruturais> -->
<!-- <app-diretivas-atributos>
    <h1>Aulas de Diretivas Atributo</h1>
    <hr>
</app-diretivas-atributos>-->
<!-- <app-diretivas-atributos></app-diretivas-atributos> -->

<!-- <app-new-component></app-new-component> -->

<!-- Contador -->
<!-- <app-input [contador]="addValue"></app-input>
<button (click)="add()">Add</button> -->

<ng-template [ngIf]="getDados">
    <h1>{{ getDados.nome }}</h1>
    <h2>{{ getDados.idade }}</h2>
</ng-template>
<app-output (enviarDados)="setDados($event)"></app-output>

<router-outlet></router-outlet> 
